body {
    background-color: #2b4eaa;
    color: #fff;
    font-size: 16px;
}
h1 {
    text-align: center;

}
#x {
    width: 440px;
}
#wrapper {
    margin: 0 auto;
    width: 480px;
}
#selector {
    margin: 0 auto;
    width: 110px;
}
button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 2px 7px 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
}
*:focus {
    outline: none;
}