/*@font-face {
  font-family: 'UpperEastSide';
  src: url('uppereastside.ttf')  format('truetype') /* Safari, Android, iOS
}*/

body {
    /*font-family: 'UpperEastSide', Helvetica, sans-serif;*/
    font-family: 'Poiret One', cursive;
    background-color: #4365c1;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
}
h1 {
    text-align: center;
    font-size: 37px;
}
p {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
}
#x {
    width: 440px;
}
#wrapper {
    margin: 0 auto;
    width: 480px;
}
#selector {
    margin: 0 auto;
    width: 114          px;
}
button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 2px 7px 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    font-weight: 600;
}
*:focus {
    outline: none;
}
